body {
	background-image: url(bgcity.jpg);
	background-size: cover;
}
.box{
	width: 900px;
	height: 500px;
	background-color: rosybrown;
	border-radius: 40px;
	margin: 70px auto;
	padding: 40px;
	box-shadow: 5px 5px 5px #f1f1f1;
}
h1 {
	font-family: helvetica;
	font-size: 65px;
	line-height: 15px;
	margin-top: 90px;	
	color: white;	
}
h2 {
	font-family: helvetica;
	font-size: 60px;
	line-height: 20px;
	color: white;	
}
h3{
	font-size: 30px;
	text-align: center;
	color: white;
}
p{
	font-size: 20px;
	color: white;	
}
.kontak {
	width: 120px;
	height: 30px;
	background-color: white;
	padding: 5px;
	border-radius: 30px;
	margin-top: 25px;
	font-size: 15px;
	color: rosybrown;
}
.kontak:hover{
	transform: scale(1.2);
}
.home {
	text-decoration: none;
	font-size: 25px;
    margin-right: 10px;
    color: white;
}
.home:hover {
   	color: pink;
}
#satu{
	margin-left: 520px;
}
#about{
	width: 450px;
	height: 480px;
	border-radius: 20%;
	background-color: rosybrown;
	margin: auto;
	padding: 15px;
}
.foto{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	background-image: url(foto.jpeg);
	background-size: cover;	
}
#contact {
	width: 450px;
	height: 550px;
	border-radius: 10px;
	background-color: rosybrown;
	margin: 80px auto;
	padding: 30px
}
#email{
	width: 80%;
	padding: 10px ;
	margin-top: 40px;	
}
#teks{
	width: 430px;
	height: 200px;
	padding: 10px ;
	margin-top: 40px;
}
span{
	font-size: 20px;
	color: white;
}
.kirim{
	width: 120px;
	height: 30px;
    border-radius: 30px;
    background-color: white;
    margin: 55px 160px;
    font-size: 15px;
    color: rosybrown;
}
.kirim:hover{
	transform: scale(1.2);
}
 #sosmed {
    position: absolute;
    top: 300%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.tombol {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: white;
    margin: 10px;
    border-radius: 30%;
    box-sizing: 0 5px 15px -5px #00000070;
    overflow: hidden;
    position: relative;
    color: rosybrown;
}
.tombol i{
    transition: 0.2s linear;
    font-size: 28px;
    line-height: 90px;
}
.tombol:hover i{
    transform: scale(1.3);
    color: rosybrown;
}

